.conteiner{
    width: '10px';
    background: rgba(250, 250, 250, 0.441);
    padding: 20px;
    color: rgba(193, 31, 31, 0.961);
    text-align: center;
    font-size: "14px";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.conteiner .todo{
    height: '400px';
    width: '400px';
}
.conteiner h1{
    color: black;
}
img{
    border-radius: 5%;
}
.conteiner p{
    color: black;
}