.forr{
    margin: 5%;
    width: 400px;
    margin-left: auto;
    margin-right:auto ;

}
.forr h3{
    background: rgba(250, 250, 250, 0.441);
    padding: 20px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-style: oblique;
    font-family:cursive;
}
.forr div label{
    font-style: oblique;
    font-family:cursive;
    color: black;
}